body {
    color: rgb(0, 0, 0);
    font-family:'Hind', sans-serif;
    background-color:#eaf4f7;
    font-size: 16px;
    margin: 0;
  
}
.main h1 {
    margin-top: 0;
}
/* Ribbon header*/

.header{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    width: 100%;
}

.header-it{font-size: 1em;}

.burger{
    background-color: transparent;
    border: none;
    font-size: 2em;
    cursor:pointer;
    display: none;
}

.burger:focus{outline: none;}


.menu, .submenu {
    list-style-type: none;
    padding: 0;  
    margin: 0;
}

.menu{
    display:flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
}  

.menu a {
    display: block;
    padding: 1em;
    color: #062a35;
    text-decoration: none;
}

/** Disable links on tablet **/
.disable{pointer-events: none;}

.menu-it{
    font-weight: bold;
}

/* ukazatel dolu u menu*/
.menu-it-caret{ font-size: 0.7em; }

.menu-it:hover > a{  /* '>' způsobuje to, že když na to najedu myší, tak změní text barvu*/
    color:#ea5822;
}

.menu-it, .submenu-links a{
    text-decoration: none;
    color: black;
}

.submenu-links:nth-child(1){ border-top: 5px #ea5822 solid;}

.submenu-links a{ background-color: white; }

.submenu-links a:hover{
    color:white;
    background-color: #ea5822;
}

.menu-it:hover .submenu {
    display: block;
    z-index: 10;
}

.submenu{
    display:none;
    position: absolute;
    margin-top: 0.2rem;
}

/* Right buttons in menu*/
.right-buttons{
    list-style-type: none;
    align-items: center; 
}

.right-buttons  li{
    display: inline-block;  
}

.right-buttons li a {
    text-decoration: none;
    display:block;
    padding:4px;
    margin-right:0.5rem;
    color:#062a35;
    font-size: 1.2em;
    font-weight: bold;
}


/******************-*****************************/

/*hlavní nastavení stránek*/

h1{
    color: rgb(255, 255, 255);
    font-family:'Hind', sans-serif;
    font-size: 100px;
    text-align: center; 
    padding-top: 17%;
    line-height: 0%;
    clear: both;
 }


h2,
h3 {
   color: rgb(0, 0, 0);
   font-family:'Hind', sans-serif;
}

h4 {
    color: white;
    font-family:'Hind', sans-serif;
    text-align: center; 
    font-size: 20px;
    padding-bottom: 12%;
    display: block;
}

.text {
    padding-left: 130%;
}

.main {
    background-image: URL("img/main_our_courses.jpg");
    background-position: center;
    background-size: 100%;
    padding-bottom: 1%;
} 

.Eduplus {
    font-family:'Hind', sans-serif;
    text-align: left;
    padding-bottom: 0%;
    margin-top: 0;
}

.article {
    width: 50%;
    padding-left: 12%;
    padding-top: 6%;
    float: left;
}

.article-frame {
    padding-left: 5%;
    padding-right: 5%;
}

.courses-menu {
    width: 30%;
    float: right;
    padding-right: 5%;
    padding-top: 5.7%;

}

.article-blog {
    background-color: white;
    background-size: 600px;
    background-position: center;

}

.Years-experience {
    width: 30%;
    padding-right: 5%;
}

.article-about-us {
    width: 30%;
    background-color: white;
}

.Years-experience {
    float: left;
}
/* About_us*/
.welcome-to-edu {
    background-color: white;
    width: 86%;
    padding-left: 14%;
    padding-right: 100;
    padding-top: 7%;
    padding-bottom: 15%;
    margin: 0;

}

.who-we-are {
    position: left;
    padding-left: 10%;

}

.welcome-to-edu h1 {
    margin-top: 6;
}


.numbers {
    margin: 0;
    position: relative;
    padding-left: 10%;
}

#we-are {
    margin-top: 0%;
}

.studentsay {
    background-color: rgb(89, 116, 190);
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-right: 27%;
}

.studentsay img {
    padding-left: 15%;
}

.latest {
    background-color: white;¨
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-right: 27%;
}

/*HOME*/
.home-section-one {
    background-image: url(img/homefirstsection.jpg);
    background-size: 100%;
    width: 86%;
    padding-left: 20%;
    padding-bottom: 25%;
    padding-top: 10%;
}

#Search {
    width: 400px;
    height: 80px;
    background-color: #ffffff;
    float: left;
    padding: 0;
    border: none;

}

.stats-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin:0 20%;
    top:-2rem;
}

.stats-flex-item{
    box-shadow: 0px 5px 5px 5px rgb(228, 222, 222);
    background-color: white;
    width: 21%;
    box-sizing: border-box;
    padding-top: 1em;
    padding-left: 0.3em;
}

.stats-flex-item-icon{
    font-size: 2em;
    color:#ea5822;
    top:30%;
    left:0.1em;
}

.count-orange-text{
    font-size: 1.5rem;
    color:#ea5822;
    font-weight: bold;
}

.stats-flex-item-text{
    font-size: 0.75em;
    color:gray;
    font-weight: bold;
}

.stats-flex-item-container{
    margin-left: 2em;
    margin-bottom: 0.5em;
}

/*BLOG DETAILS*/
#Keywords {
    width: 200px;
    height: 60px;
    background-color: #ffffff;
    float: left;
    padding: 0;
    border: none;
    margin: 0;

}

.lupa {
    width: 50px;
    height: 50px;
    margin: 0;
}


.nabidka {
    line-height: 0%;
    padding-top: 10%;
    font-family: "Hind", sans-serif;
    background-image: url("img/bd3.PNG");
    background-repeat: repeat-y;
    padding-right: 10%;
    margin-left: 80%;
}
/*nastavení pozicí, textů,...*/
.absolute-pos{ position: absolute; }
.hind{ font-family: 'Hind', sans-serif; }
.relative-pos{ position: relative; }
#reklamy {
    width: 100%;
    padding-bottom: 0;
}


/*FAQ*/

.instruktor {
    width: 25%;
    padding-left: 12%;
    padding-top: 6%;
    float: left;
    padding-bottom: 3%;
}

.instruktor2 {
    width: 25%;
    padding-left: 12%;
    padding-top: 6%;
    float: left;
    padding-bottom: 3%;
    margin-bottom: 50%;
}

.Questions {
    background-color: white;
    background-size: 600px;
    background-position: center;
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: -10%;
    margin-right: 10%;
}

.get-touch {
    margin-bottom: 10%;
    padding-left: 10%;
}

.be-instruktor {
    
    background-position: 10%;
}


.be-instr {
    background-color: rgb(89, 116, 190);
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-right: 0;
}

/*Contact us*/

.touch {
    background-color: rgb(239, 247, 253);
    width: 25%;
    padding-left: 14%;
    padding-right: 100;
    padding-top: 7%;
    padding-bottom: 15%;

}

.google2 {
    background-color: white;
    width: 30%;
    margin-left: 40%;
 
    padding-bottom: 1%;
    margin-right: 20%;
}

.contact {
    margin-bottom: 10%;
}

.girls {
    width: 25%;
    padding-left: 5%;
    padding-top: 6%;
    float: left;
    padding-bottom: 5%;
    text-align: center;
}


.girls2 {
    width: 25%;
    padding-right: 5%;
    float: right;
    padding-bottom: 9%;
    text-align: center;
}


.instrukt {
    padding-left: 10%;
}

.girls3 {
    width: 25%;
    padding-right: 4%;
    float: left;
    padding-left: 0%;
    padding-bottom: 9%;
    text-align: center;
}

/* Footer */

.mainfooter {
    background-color: #062a35;
    background-image: url(img/imgfooterpicture.png);
    width: 100%;
    
}

.footertop {
    background-image: url(img/footlogo.png);
    background-repeat: no-repeat;
    display: inline-block;
    text-align: center;
    margin-top: 50px;
    margin-left: 15%;
    line-height: 22px;
}

.firstlogotext {
    font-size: 45px;
    letter-spacing: -1px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 900;
    font-family: "Roboto";
    display: inline-block;
    margin-left: 30px;
}

.secondlogotext {
    font-size: 45px;
    letter-spacing: -1px;
    line-height: 22px;
    color: #ffffff;
    font-family: "Roboto";
    display: inline-block;
}

.empty {
    margin: 50px 0;
    display: inline-block;
}

.social-left {
    width: 2%;
    float: right;
    margin-top: 50px;
    margin-right: 65%;
}

.img-cover {
    height: 5;
    padding-bottom: 100%;
}

.img-cover img {
    width: 2300%;
  }

.social-left li {
    display: inline-block;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Hind', sans-serif;
    margin: 0;
}

#space {
    width: 15%;
    text-align: center;
    
}

.line {
    width: 100%;
    background-color: #1d303f;
    margin: 15px 375px;
}

/* MIDDLE OF FOOTER */

#up {
    width: 100px;
    height: 55px;
    margin-right: 200px;
}

#arrow--up {
    line-height: 32px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#right {
    width: 20%;
    float: right;
    margin-right: 22%;
    height: 266px;
}


#left {
    width: 10%;
    float: left;
    margin-left: 15%;
}

#left--middle {
    width: 10%;
    float: left;
    margin: 20px 0;;
    padding: 0;
    height: 266px;
}

#middle {
    width: 10%;
    margin: 0 auto;
    height: 266px;
}

.lower--footer--text {
    font-size: 22px;
    letter-spacing: -1px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 700;
    font-family: "IBM Plex Sans";
    display: inline-block;
    margin: 0;
    margin-top: 5%;

}

.lower--text {
    font-size: 15px;
    line-height: 32px;
    color: #a3b5c3;
    font-weight: 400;
    font-family: "Hind";
    width: 450px;
}

#email {
    width: 370px;
    height: 55px;
    background-color: #0c3542;
    float: left;
    padding: 0;
    border: none;

}

::placeholder {
    font-size: 15px;
    line-height: 32px;
    color: #40749c;
    font-weight: 400;
    font-family: "IBM Plex Sans";
    padding-left: 5%;
}


.submit  {
    width: 80px;
    height: 55px;
    background-color: #ea5822;
    border: none;
}

#long--arrow {
    width: 10%;
    height: 2%;
    color: #ffffff;

}

.company--link ul {
    padding-left: 0;
    margin: 5 0;
}
.company--link a {
    text-decoration: none;
    color: #a3b5c3;
}

.our--courses--link ul {
    padding-left: 0;
    margin: 15px 0;
}

.company--link li,
.our--courses--link {
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    font-family: "Hind";
    display: block;
}

.our--courses--link a {
    text-decoration: none;
    color: #a3b5c3;
    display: block;
}

/*Footer - copyright*/

.copyright {
    width: 80%;
    height: 4%;
    background-color: #0c3542;
    margin: 0 10%;
    display: inline-block;
}

.copyright p {
    font-size: 15px;
    line-height: 32px;
    color: #94a7b5;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: inline-block;
    width: 100%;
}

